@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --travik-black: #232323;
  --travik-pink: #ff4c8e;
  --travik-orange: #ff9728;
  --travik-gray: #e5e5e5;
}

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: var(--travik-orange);
  --amplify-components-tabs-item-active-color: var(--travik-orange);
  --amplify-components-tabs-item-active-border-color: var(--travik-orange);
  --amplify-components-button-link-color: var(--travik-pink);
  --amplify-components-button-link-hover-background-color: var(--travik-gray);
  --amplify-components-button-link-hover-color: var(--travik-black);
}

.amplify-button--primary{
  background: linear-gradient(90deg, var(--travik-orange), var(--travik-pink));
  border-radius: 0.375rem;
}
.amplify-button--loading {
  background: linear-gradient(90deg, var(--travik-orange), var(--travik-pink));
  border-radius: 0.375rem;
  color: var(--amplify-internal-button-color);
}
input[type="text"].amplify-input, input[type="password"].amplify-input, input[type="email"].amplify-input {
  padding:  6px 12px;
  border-color: #d1d5dc;
  border-radius: 0.375rem;
}
input[type="text"].amplify-input:focus, input[type="password"].amplify-input:focus, input[type="email"].amplify-input:focus {
  border-color: var(--travik-pink);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-slide {
  @apply bg-slate-200;
  @apply rounded-lg;
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.swiper-cat-slide {
  width: auto;
}
